body {
	font-size:13px;
	line-height:24px;
	color:#000000;
	font-weight:normal;
	font-family:"Cuprum", "Arial", san-serif;
}

h2 {
	font-size:30px;;
	color:#000000;
	font-weight:normal;
	text-transform:uppercase;
}
h3 {
	font-size:30px;
	line-height:24px;
	color:#000000;
	font-weight:normal;
	font-style:"Coprum", serif;
	text-transform:uppercase;
}
.relative-block{
	position:relative;
}

a.site-name {
	float:left;
	width:220px;
	min-height:32px;
	text-align:center;
	padding-top:10px;
	background-color:#ee3643;
	border-bottom:5px solid #b52933;
	font-size:24px;
	color:white;
	text-decoration:none;
	text-transform:uppercase; 
}
a.site-name:hover{
	background-color:#ca2c37;
	border-bottom:5px solid #9a212a;
}
a.site-name:active{
	background-color:#ba2732;
	border-bottom:5px solid #8e1e26;
}
form.search {
	float:left;
	margin:0px;
}
input.search-field {
	width:220px;
	padding-left:48px;
	padding-top:8px;
	padding-bottom:10px;
	vertical-align:middle;
	background-color:#293449;
	border:0px;
	color:white;
	font-size:17px;
	font-family:"Cuprum", "Arial", san-serif;
}
input.search-field:hover{
	background-color:#212a3a;
}
input.search-field:focus{
	background-color:white;
	color:black;
}
.main-header {
	background-color:#f1f5f7;
	padding-bottom:60px;
	margin-bottom:59px;
}
.main-header-catalog {
	background-color:#f1f5f7;
	padding-bottom:60px;
	margin-bottom:20px;
}
.main-header-top {
	
	background-color:#293449;
	height:42px;
	margin-bottom:5px;
}
.main-header-content{
	margin-bottom:21px;
	padding-top:27px;
}
.container {
	margin-left:auto;
	margin-right:auto;
	width:940px;
}
.bookmarks-link, .cart-link, .place-order {
	display:inline-block;
	color:white;
	font-size:17px;
	text-decoration:none;
}
.bookmarks-link:active, .cart-link:active, .place-order:active {
	opacity:0.6;
}
.cart-link{
	padding-top:8px;
	padding-left:45px;
	padding-right:0px;
	width:100px;
	padding-bottom:10px;
	margin-right:-4px;
}
.cart-link.not-empty{
	background-color:#ee3643;
}
.bookmarks-link {
	padding-top:8px;
	padding-left:45px;

	width:107px;
}
.place-order {
	float:right;
	background-color:#63a63e;
	width:150px;
	height:34px;
	text-align:center;
	padding-top:8px;
	margin-right:1px;
}
.place-order:hover{
	background-color:#5fbb2d;
}
.place-order:active{
	background-color:#518534;
}
.site-description {
	float:left;
	width:210px;
	padding-left:50px;
	padding-right:30px;
	font-size:16px;
	font-style:italic;
	color:#ee3643;
}
.main-header-content .contacts {
	float:left;
	padding-top:15px;
	padding-left:27px;
}
.contacts .contact-phone {
	display:block;
	width:191px;
	height:32px;
	padding-left:73px;
	padding-top:7px;
	border:3px solid white;
	font-size:21px;
	color:#e9292a;
	text-align:left;
	text-decoration:none;
}
.contacts .address {
	width:264px;
	padding-left:13px;
	padding-top:2px;
	font-size:14px;
	color:#32425c;
	text-align:left;
}
.sign-in, .sign-up {
	float:left;
	background-color:white;
	font-size:21px;
	min-height:31px;
	padding-top:10px;
	text-align:center;
}
.sign-in:hover, .sign-up:hover{
	color:#ee3643;
}
.sign-in:active, .sign-up:active {
	color:black;
	opacity:0.3;
}
.user-block {
	float:right;
	display:inline-block;
	padding-top:15px;

}

.user-name {
	display:block;
	min-height:35px;
	width:253px;
	padding-left:47px;
	padding-top:10px;
	font-family:"Cuprum", "Arial", san-serif;
	font-size:21px;
	background-color:white;
	vertical-align:middle;
	margin-bottom:5px;
}
.user-block .account{
	font-family:"Cuprum", "Arial", san-serif;
	font-size:16px;
	line-height:18px;
	color:#32425c;
	margin-left:19px;
	margin-right:9px;
}

.breadcrumbs{
	position:absolute;
	top:-55px;
	left:0;
	padding:0px;
}
.breadcrumbs li{
	float :left;
	list-style:none;
}
.breadcrumbs a{
	font-family:"PT Sans", "Arial", san-serif;
	font-size:13px;
	text-transform:uppercase;
	text-decoration:none;
	color:black;
}
.breadcrumbs .main {
	display:inline-block;
	width:14px;
	height:12px;
	background-image:url("../img/home-icon.png");
	background-repeat:no-repeat;
}
.breadcrumbs .root:before{
	content:'';
	display:inline-block;
	width:7px;
	height:7px;
	border-top:1px solid #c1c6ce;
	border-right:1px solid #c1c6ce;
	transform:rotate(45deg);
	margin:0 17px;
}
.sign-in {
	text-align:right;
	padding-right:26px;
	width:95px;
	margin-right:10px;
}
.sign-up {
	width:150px;
}
.clearfix:after{
	content:'';
	display:table;
	clear:both;
}

.all-articles{
	float:right;
	height:1103px;
	width:700px;
}
.article-item{
	float:left;
	width
}
.producer-filter{
	display:inline-block;
}
nav.main-nav{
	width:940px;
	background-color:#32425c;
	border-bottom:5px solid #293449;
	font-size:0px;
}
.main-nav.container li{
	display:inline-block;
/*	height:39px;
	margin-left:0px;
	margin-right:7px;
	padding-bottom:0;
	padding-top:16px;
	list-style:none;
	padding-left:0px;
	padding-right:50px;
	text-align:left;
	font-size:17px;*/
}
.main-nav.container a{
	display:inline-block;
	text-align:center;
	vertical-align:middle;
	line-height:54px;
	padding:0 28px;
	padding-top:1px;
	color:white;
	text-decoration:none;
}
.main-nav.container li:hover{
	background-color:#293449;
}
.main-nav.container li:first-child{
	margin-left:22px;
}
.main-nav.container li:last-child{
	margin-right:0px;
	padding-right:0px;
}
.main-nav.container ul {
	padding:0px;
	margin:0px;
	background-color:#32425c;
	color:white;
	font-size:17px;
}
.special-offers{
	width:940px;
	height:409px;
	margin-bottom:53px;
}
.special-offers .offer{
	float:left;
	width:277px;
	height:100px;
	margin-right:20px;
	margin-bottom:20px;
	padding-top:23px;
	padding-left:23px;
}
.offer-material{
	background-color:#f6b22d;
	background-image:url("../img/materials.png");
	background-repeat:no-repeat;
}
.offer-tool{
	background-color:#4aafde;
	background-image:url("../img/instruments.png");
	background-repeat:no-repeat;
}
.offer-tech{
	background-color:#cc79d1;
	background-image:url("../img/technics.png");
	background-repeat:no-repeat;
}
.offer-discount{
	background-color:#85d179;
	background-image:url("../img/discount.png");
	background-repeat:no-repeat;
}
.offer-delivery{
	background-color:#f6b22d;
	background-image:url("../img/delivery_offer.png");
	background-repeat:no-repeat;
}
.offer-title{
	font-size:24px;
	text-decoration:bold;
	color:white;
}
.offer-btn{
	display:block;
	background-color:rgba(0,0,0,0.1);
	color:white;
	text-decoration:none;
	font-size:14px;
	line-height:18px;
	width:90px;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	margin-top:17px;
	margin-left:5px;
	border:1px solid transperent;
	border-radius:3px;
	text-transform:uppercase;
}
.offer-btn:hover{
	background-color:rgba(0,0,0,0.2)
}
.offer-btn:active{
	background-color:rgba(0,0,0,0.3)
}
.special-offers .offer:nth-child(3){
	margin-right:0px;
}
.special-offers .offer:nth-child(5){
	margin-right:0px;
}
.special-offers .offer:nth-child(6){
	margin-right:0px;
}
.special-offers .offers-slider {
	float:left;
	width:572px;
	height:241px;
	padding-top:26px;
	margin-right:20px;
	padding-left:24px;
	padding-right:24px;
	background-color:#261c19;
	background-image:url("../img/slider-sprite.jpg");
	background-position:0 0;
	color:white;
}
.slider-header{
	font-size:36px;
	line-height:30px;
	text-transform:uppercase;
	font-weight:bold;
}
.slider-sub-header{
	font-family:"PT Sans", "Arial", san-serif;
	font-size:18px;
	line-height:24px;
	padding-top:2px;
	margin-bottom:38px;
}

.previous-slide{
	float:left;
	width:27px;
	height:27px;
	border-top:2px solid white;
	border-left:2px solid white;
	transform:rotate(-45deg);
	margin-left:6px;
}
.next-slide{
	float:right;
	width:27px;
	height:27px;
	border-top:2px solid white;
	border-right:2px solid white;
	transform:rotate(45deg);
	margin-right:6px;	
}
.switchers{
	margin-bottom:58px;
}
.btn{
	display:inline-block;
	line-height:38px;
	font-size:14px;
	padding:0 48px;
	color:white;
	background-color:#ee3643;
	border-radius:2px;
	text-decoration:none;
	text-transform:uppercase;
}
.btn:hover{
	background-color:#ca2c37;
}
.btn:active{
	background-color:#ba2732;
}
.slider-switcher{
	display:inline-block;
	float:right;
	margin-right:270px;
	margin-top:10px;
}
input.switcher{
	margin-left:4px;
}
.popular-header {
	height:30px;
	margin-bottom:25px;
	padding:30px;
	padding-top:25px;
	padding-right:25px;
	background-color:#f7f3ec;
	font-size:30px;
	line-height:30px;
	color:#32425c;
	text-transform:uppercase;
}

.popular-header .title {
	float:left;
	width:600px;
	padding-top:3px;
}
.popular-header .btn {
	float:right;
	padding:0px;
	width:253px;
	text-align:center;
}

article.item{
	position:relative;
	float:left;
	height:316px;
	width:218px;
	margin-right:20px;
	margin-bottom:20px;
	border:1px solid #e5e5e5;
}
article.item:hover{
	box-shadow:0 10px 25px 0 rgba(41,52,73,0.5);
}
article.item:hover .popular-item-hover{
	display:block;
}
.item .image {
	display:inline-block;
	line-height:170px;
	min-height:170px;
	width:100%;
	margin-bottom:6px;
	text-align:center;
}
.image img{
	vertical-align:middle;
}
.popular-item-hover{
	position:absolute;
	display:none;
	background-color:white;
	top:0;
	left:0;
	width:100%;
	text-align:center;
	line-height:0px;
	padding:37px 0;
	margin:0;
}
.popular-item-hover:first-child{
	display:block;
}
.popular-item-hover a{
	display:inline-block;
	width:139px;
	line-height:32px;
	vertical-align:middle;
	border:3px solid #63a63e;
	border-radius:3px;
	margin-bottom:10px;
	font-family:"Cuprum", "Arial", san-serif;
	font-size:14px;
	text-decoration:none;
	text-transform:uppercase;
	
}
.popular-item-hover .buy-btn{
	background-color:#63a63e;
	border-bottom:none;
	box-shadow:0 3px 0 0 #367315;
	color:white;
}
.popular-item-hover .buy-btn:hover{
	background-color:#5fbb2d;
	border-color:#5fbb2d;
}
.popular-item-hover .buy-btn:active{
	background-color:#518534;
	border-color:#518534;
	box-shadow:0 3px 0 0 #518534;
}
.popular-item-hover .to-bookmarks{
	color:#32425c;
}
.popular-item-hover .to-bookmarks:hover{
	border-color:#32425c;
}
.popular-item-hover .to-bookmarks:active{
	border-color:#32425c;
	opacity:0.3;
}

.item .name{
	text-align:center;
	font-family:"PT Sans","Arial", san-serif;
	font-size:18px;
	line-height:20px;
	font-weight:bold;
	margin-bottom:14px;
}
.item .old-price{
	text-align:center;
	font-family:"PT Sans", "Arial", san-serif;
	font-size:17px;
	line-height:18px;
	font-weight:bold;
	color:#999999;
	text-decoration:line-through;
	margin-bottom:10px;
}
.item .new-price{
	display:inline-block;
	position:relative;
	font-family:"PT Sans", "Arial", san-serif;
	font-size:17px;
	font-weight:bold;
	background-color:#ee3643;
	color:white;
	line-height:38px;
	margin-left:42px;
	padding-right:20px;
	padding-left:36px;
	border-radius:3px;
}
.new-price-corner{
	display:inline-block;
	position:absolute;
	background-color:#ee3643;
	width:26px;
	height:26px;
	transform:rotate(45deg);
	right:-12px;
	top:6px;
	border-radius:2px;
}
.item.new .name{
	margin-bottom:42px;
}

.all-articles article.item:nth-child(3n){
	margin-right:0px;
}
.about-articles{
	background-color:#f2f6f8;
	height:220px;
	margin-bottom:-86px;
	margin-top:60px;
	padding-top: 40px;
}
h2.about-header{
	margin-bottom:30px;
}
.about-articles .about-text{
	font-family:"PT Sans", "Arial", san-serif;
	font-size:13px;
}
.popular-offers .item{
	float:left;
	height:316px;
	width:218px;
	margin-right:20px;
	border:1px solid #e5e5e5;
}
.popular-offers .item:nth-child(4n+1){
	margin-right:20px;
}
.popular-offers .item:nth-child(4n){
	margin-right:0px;
}

.popular-producers{
	margin-bottom:68px;
}
.producer-item{
	float:left;
	width:218px;
	line-height:143px;
	border:1px solid #e5e5e5;
	margin-right:20px;
	margin-bottom:20px;
	text-align:center;
	
}
.producer-item a{
	display:block;
	width:100%;
	height:100%;
}
.producer-item:hover{
	box-shadow:0 10px 25px 0 rgba(41,52,73,0.5);
}
.producer-item:active{
	box-shadow:0 4px 10px 0 rgba(41,52,73,0.5);
}
.producer-item:active img{
	opacity:0.3;
}
.producer-item img{
	display:inline-block;
	line-height:100%;
	vertical-align:middle;
}
.producer-item:nth-child(4n){
	margin-right:0px;
}

.information {
	width:540px;
	height:368px;
	float:left;
	margin-right:100px;
}


.footer-top{
	margin-top:86px;
	
}
.footer-top-catalog{
	background-color:#32425c;	
}
.footer-bottom{
	background-color:#293449
}
.first-column{
	float:left;
	width:380px;
	height:193px;
	padding-bottom:0px;
	margin-right:10px;
}
.second-column{
	float:right;
	width:550px;
	height:193px;
}
.services{
	background-color:#f2f6f8;
	padding-top:35px;
	margin-bottom:60px;
	position:relative;
}
.services .container{
	width:1020px;
	padding-left:40px;
}
.services-introduction{
	margin-bottom:66px;
}
.services .definition{
	font-family:"PT Sans", "Arial", san-serif;
}

ul.services-menu{
	float:left;
	padding:0;
	margin:0;
	list-style:none;
}
ul.services-menu:after{
	position:absolute;
	top:0;
	right:0;
	width:10px;
	height:272px;
	background-color:red;
	z-index:2;
}
.services-menu li{
	display:block;
	text-align:left;
}
.services-menu li a{
	display:inline-block;
	font-family:"Cuprum", "Arial", san-serif;
	font-weight:bold;
	font-size:21px;
	line-height:59px;
	vertical-align:middle;
	text-decoration:none;
	color:white;
	background-color:#32425c;
	width:219px;
	padding-left:21px;
	border-top:1px solid #405069;
	border-bottom:1px solid #293449;
}
.services-menu li a:hover{
	background-color:#293449;
}
.services-menu li a:active{
	background-color:white;
	color:#32425c;
	border-color:white;
}
.services-menu li a.active-service{
	background-color:white;
	color:#32425c;
	border-color:white;
}
.services-info{
	float:left;
	padding-left:79px;
	padding-top:5px;
	padding-bottom:115px;
	width:700px;
	background-repeat:no-repeat;
}
.services-info .title{
	font-family:"Cuprum", "Arial", san-serif;
	font-size:36px;
	line-height:24px;
	padding:0;
	padding-bottom:20px;
	margin:0;
	text-transform:uppercase;
	font-weight:400;	
}
.services-info.delivery{
	display:none;
	background-image:url("../img/delivery_block.png");
	background-position:229px 25px;
}
.services-info.assurance{
	display:none;
	background-image:url("../img/assurance_block.png");
	background-position:320px 0px;
}
.services-info.credit{
	background-image:url("../img/credit_block.png");
	background-position:260px 0px;
}
p.description {
	display:inline-block;
	font-family:"PT Sans", "Arial", san-serif;	
}
.delivery .description{
	width:280px;
}
.assurance .description{
	width:400px;
}
.credit .description{
	display:block;
	margin-bottom:25px;
}
.services-info .btn {
	padding-left:46px;
	padding-right:46px;
}
.site-information{
	float:left;
	width:540px;
}
.site-information .title {
	margin-bottom:30px;
}
.site-information p{
	display:inline-block;
	width:540px;
	font-family:"PT Sans", "Arial", san-serif;
	font-size:13px;
	font-weight:normal;
	line-height:24px;
	margin-top:-1px;
	margin-bottom:25px;
}
.site-information ul{
	list-style-image:url("../img/information-list-type.gif");
	line-height:40px;
	font-size:18px;
	font-family:"Cuprum", "Arial", san-serif;
	vertical-align:middle;
	margin-top:-15px;
	margin-left:-5px;
	margin-bottom:27px;
}
.site-information .btn{
	padding-left:40px;
	padding-right:40px;
}
.contacts-map{
	float:right;
	width:300px;
	height:368px;
}
.contacts-map .title {
	margin-bottom:30px;
}
.help-yourself {
	width:180px;
	font-family:"PT Sans", "Arial", san-serif;
	margin-bottom:30px;
}
.pop-up{
	display:block;
	margin-bottom:32px;
}
.contacts-map .btn{
	width:100%;
	padding-left:0;
	padding-right:0;
	text-align:center;
}
footer .site-name{
	font-size:30px;
	line-height:51px;
}
.footer-top {
	background-color:#32425c;
}
.first-column .address{
	float:left;
	font-size:18px;
	font-family:"Cuprum", "Arial", san-serif;
	color:white;
	margin-top:30px;
}
.menu-top{
	margin-top:38px;
}
.menu-top li{
	float:left;
	width:121px;
	color:white;
	margin:0px;
	list-style:none;
}
.menu-top li:nth-child(5n){
	width:0;
}
.menu-top a{
	color:white;
	text-decoration:none;
	font-family:"Cuprum", "Arial", san-serif;
	font-size:18px;
}
.menu-top a:hover{
	text-decoration:underline;
}
.menu-top a:active{
	opacity:0.5;
	text-decoration:none;
}
.menu-bottom{
	margin-top:95px;
}
.menu-bottom li{
	float:left;
	margin:0px;
	margin-left:25px;
	margin-right:35px;
	list-style:none;
}
.menu-bottom li:nth-child(4n){
	margin-right:0;
	margin-left:22px;
}
.menu-bottom a{
	font-family:"Cuprum", "Arial", san-serif;
	font-size:18px;
	color:#ffd180;
	text-decoration:none;
}
.menu-bottom a:hover{
	text-decoration:underline;
}
.menu-bottom a:active{
	opacity:0.5;
	text-decoration:none;
}
.second-column ul{
	padding:0px;
}
.footer-bottom {
	padding-top:35px;
	padding-bottom:35px;
}
.all-rights{
	float:left;
	width:320px;
	margin-right:70px;
	color:white;
	font-size:16px;
	line-height:20px;
}
.social-links{
	float:left;
	margin-right:110px;
}
ul.social-links{
	padding:0px;
	list-style:none;
	margin-top:0px;
	margin-bottom:0px;
}
.social-links li{
	float:left;
	width:40px;
	height:40px;
	border-radius:50%;
	margin-right:5px;
	background-color:#212a3a;
}
.social-links a{
	display:block;
	border-radius:50%;
	width:100%;
	height:100%;
}
.social-links li:hover{
	background-color:#ee3643;
}
.social-links li:active{
	background-color:#ee3643;
}
.vk{
	background-image:url("../img/social_links_sprite.png");
	background-position:0 0;
	background-repeat:no-repeat;
}
.fb{
	background-image:url("../img/social_links_sprite.png");
	background-position:-46px 0;
	background-repeat:no-repeat;
}
.inst{
	background-image:url("../img/social_links_sprite.png");
	background-position:-91px 0;
	background-repeat:no-repeat;	
}
.social-links li:last-child{
	margin-right:10px;
}
.developer-info{
	font-family:"Cuprum", "Arial", san-serif;
	float:left;
	margin-right:50px;
	color:white;
	font-size:16px;
	line-height:18px;
}
.developer-info a{
	font-family:"Cuprum", "Arial", san-serif;
	color:#ffd180;
	font-size:16px;
	line-height:18px;
	text-decoration:none;
}
.developer-info a:hover{
	text-decoration:underline;
}
.developer-info a:active{
	color:#ee3643;
	text-decoration:none;
}

.developer-info:last-child{
	margin-right:0px;
}
form.filter{
	float:left;
	height:1142px;
	width:220px;
}
.filter-title {
	display:inline-block;
	vertical-align:middle;
	width:203px;
	font-family:"PT Sans", "Arial", san-serif;
	font-size:13px;
	line-height:36px;
	padding-left:17px;
	text-transform:uppercase;
	background-color:#f7f3ec;
}
.price-title{
	font-family:"PT Sans", "Arial", san-serif;
	font-size:17px;
	line-height:30px;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:13px;
	margin-bottom:13px;
}
.range-controls{
	width:100%;
	height:80px;
	background-color:#f7f3ec;
	position:relative;
	margin-bottom:7px;
}
.toggle{
	position:absolute;
	display:inline-block;
	width:4px;
	height:4px;
	background-color:#ababab;
	border:7px solid white;
	border-radius:50%;
	box-shadow:0 2px 0 0 #ababab;
}
.min-toggle{
	top:50%;
	left:20px;
	margin-top:-9px;
}
.max-toggle{
	top:50%;
	right:40px;
	margin-top:-9px;
}
.scale{
	display:inline-block;
	position:absolute;
	height:2px;
	width:180px;
	background-color:#d7dcde;
	top:50%;
	left:50%;
	margin-left:-90px;
	margin-top:-1px;
}
.scale .bar{
	display:inline-block;
	position:absolute;
	height:2px;
	width:160px;
	background-color:#00ca74;
	top:50%;
	left:50%;
	margin-left:-90px;
	margin-top:-1px;
}
.price-controls{
	font-size:0px;
	margin-bottom:27px;
}
.price-control .price{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
}
span.dash{
	float:left;
	display:block;
	font-size:16px;
	padding-left:10px;
	padding-top:10px;
}
input.price{
	float:left;
	text-align:center;
	font-size:17px;
	line-height:38px;
	width:92px;
	background-color:#f7f3ec;
	border-style:none;
	border-radius:3px;
}
input.price:nth-child(3){
	float:right;
	margin-right:0;
}
div.filter{
	border-top:1px solid #e5e5e5;
	margin-top:17px;
	padding-top:16px;
}
.filter .title{
	font-family:"PT Sans", "Arial", san-serif;
	font-size:17px;
	line-height:30px;
	font-weight:bold;
	text-transform:uppercase;
}
.producer-filter{
	display:inline-block;
	margin-bottom:5px;
}
.filter-unit{
	margin-top:14px;
	margin-bottom:16px;	
}
.filter-unit:last-child{
	margin-bottom:0px;		
}
.filter label{
	display:inline-block;
	font-family:"PT Sans", "Arial", san-serif;
	font-size:15px;
	line-height:20px;
	font-weight:normal;
	text-transform:uppercase;
}
.all-articles-header{
	margin-bottom:18px;
}
.all-articles-header .sorting{
	float:left;
	font-family:"PT Sans", "Arial", san-serif;
	font-size:13px;
	line-height:39px;
	font-weight:normal;
	text-transform:uppercase;
	margin-left:19px;
	margin-right:106px;
}
.all-articles-header .sort-type{
	float:left;
	font-family:"PT Sans", "Arial", san-serif;
	line-height:18px;
	font-size:13px;
	color:black;
	opacity:0.3;
	margin:0 35px;
	margin-top:9px;
	border-bottom:1px dotted #ee3643;
	text-decoration:none;
	text-transform:uppercase;
}
a.sort-type:nth-child(4){
	margin-right:0px;
}
a.sort-type:hover{
	opacity:1;
	border-bottom:1px solid #ee3643;
}
a.sort-type:active{
	border-style:none;
	color:#ee3643;
}
a.apply-filter{
	display:inline-block;
	margin-top:75px;
	padding-top:9px;
	padding-bottom:9px;
	padding-left:38px;
	padding-right:38px;
	text-decoration:none;
	font-family:"PT Sans", "Arial", san-serif;
	line-height:18px;
	font-size:13px;
	text-transform:uppercase;
	color:black;
	border:1px solid #e5e5e5;
	border-radius:3px;
}
.pages{
	padding-top:33px;
	
}
.pages a.page-number{
	display:inline-block;
	padding:6px 14px;
	color:black;
	border:1px solid #e5e5e5;
	border-radius:3px;
	font-family:"PT Sans", "Arial", san-serif;
	font-size:13px;
	text-decoration:none;
	text-transform:uppercase;
	margin-right:8px;
}
.pages a.page-number.active, .pages a.page-number.active:hover, .pages a.page-number.active:active{
	border-color:#ee3643;
	background-color:#ee3643;
}
a.page-number.next-page{
	padding-left: 30px;
	padding-right: 30px;
}
.pages a.page-number:hover, a.page-number.next-page:hover{
	border-color:#bdc6ca;
}
.pages a.page-number:active, a.page-number.next-page:active{
	border-color:#ee3643;
}
.write-us{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	width:620px;
	margin-left:-310px;
	margin-top:-215px;
	padding-top:43px;
	background-color:white;
	text-align:center;
	font-family:"Cuprum", "Arial", san-serif;
	font-size:18px;
	border-top:7px solid #ee3643;
	box-shadow:0 20px 40px 0 rgba(0,0,0,0.75);
}
.write-us .personal-info{
	width:460px;
	margin-left:80px;
	margin-right:80px;
}
.personal-info .name{
	float:left;
	text-align:left;
	margin-bottom:
}
.personal-info input{
	width:202px;
	padding-left:14px;
	font-family:"PT Sans", "Arial", san-serif;
	line-height:34px;
	font-size:13px;
	color:#999999;
	vertical-align:middle;
	border:2px solid #d7dcde;
	border-radius:2px;
	
}
.personal-info .label{
	margin-bottom:5px;
}
.personal-info .e-mail{
	float:right;
	text-align:left;
}
.personal-info .message{
	text-align:left;
	margin-top:17px;
}
.message textarea{
	width:428px;
	height:110px;
	padding-left:14px;
	padding-right:14px;
	vertical-align:baseline;
	margin-bottom:38px;
	border:2px solid #d7dcde;
	border-radius:2px;
}
.submit-btn{
	padding-left:80px;
	padding-right:80px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color:#f1f1f1;
	width:460px;
}
.submit-btn .btn{
	padding-left: 0px;
	padding-right: 0px;
	width: 460px;
}
.big-map{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-470px;
	margin-top:-223px;
	box-shadow:0 0 16px 0 rgba(0,0,0,0.5);
}


============================================================================================================



.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
	position:absolute;
	top:0;
	left:0;
}

.sprite-ico-bookmarks {
    width: 14px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite-ico-cart {
    width: 17px;
    height: 16px;
    background-position: -10px -46px;
}

.sprite-ico-home {
    width: 14px;
    height: 12px;
    background-position: -10px -82px;
}

.sprite-ico-login {
    width: 20px;
    height: 17px;
    background-position: -10px -114px;
}

.sprite-ico-phone {
    width: 19px;
    height: 19px;
    background-position: -10px -151px;
}

.sprite-ico-search {
    width: 17px;
    height: 17px;
    background-position: -10px -190px;
}

.sprite-ico-user {
    width: 20px;
    height: 18px;
    background-position: -10px -227px;
}
